[submodule "controller/tiny-AES-c"]
	path = controller/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "controller/mbedtls"]
	path = controller/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "controller/printf"]
	path = controller/printf
	url = https://github.com/mpaland/printf
